html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background-color: rgb(255,255,255);
	color: #000000;
	font-family: arial, verdana, helvetica;
	font-size: 12px;
	font-style: normal;
	height: 100%;
}

#container {
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

#header {
}

#main {
	overflow: auto;
	max-height: 97%;
}

a {
	color: #0000ff;
	text-decoration: none;
}

	a:hover {
		text-decoration: underline;
	}

div {
	font-family: arial, verdana, helvetica;
	font-size: 12px;
	font-style: normal;
}

font {
	font-family: arial, verdana, helvetica;
	font-size: 12px;
	font-style: normal;
}

p {
	font-family: arial, verdana, helvetica;
	font-size: 12px;
	font-style: normal;
}

/*table {
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-color: #000000;
	border-left-color: #000000;
	border-bottom-color: #000000;
	border-right-color: #000000;
	color: #000000;
	table-border-color-dark: #000000;
	table-border-color-light: #000000;
}

td {
	border-top-width: 0px;
	border-left-width: 0px;
	border-top-color: #000000;
	border-left-color: #000000;
	border-bottom-color: #000000;
	border-right-color: #000000;
	border-color: #000000;
	color: #000000;
	font-family: arial, verdana, helvetica;
	font-size: 12px;
	font-style: normal;
}

th {
	border-top-width: 0px;
	border-left-width: 0px;
	border-top-color: #000000;
	border-left-color: #000000;
	border-bottom-color: #000000;
	border-right-color: #000000;
	border-color: #000000;
	background-color: #0000a0;
	color: #ffffff;
	font-family: arial, verdana, helvetica;
	font-size: 12px;
	font-style: normal;
}

	th a {
		color: #e0e0ff;
	}*/

form {
	font-family: arial, verdana, helvetica;
	font-size: 12px;
}

input {
	font-size: 12px;
	font-family: arial, verdana, helvetica;
	color: #000000;
}

textarea {
	border: 1px solid;
	border-color: #000000;
}

select {
	border: 1px solid;
	border-color: #000000;
	font-size: 12px;
	font-family: arial, verdana, helvetica;
	color: #000000;
}

.butclass {
	border: 1px solid;
	border-color: #f0f0f0;
}

.frmbutton {
	border: 1px solid;
	border-color: #000000;
	font-size: 12px;
	font-family: arial, verdana, helvetica;
	background-color: #e0e0e0;
	color: #000000;
	padding: 0px;
}

.justify {
	text-align: justify;
}

.selbold {
	color: #0000ff;
	background-color: #ffffff;
}

.editform {
	color: #000000;
	background-color: #f0f0f0;
}

.fieldname {
	color: #000000;
	background-color: #e0e0e0;
}

.fieldval {
	color: #000000;
	background-color: #f0f0f0;
}

.mainback {
	background-color: #ffffff;
	// background-image: url(bg_main.png);
}

.menuback {
	background-color: #000050;
	// background-image: url(bg_menu.png);
}

.menulink {
	color: #ffffff;
	text-decoration: none;
}

	.menulink:hover {
		color: #399cde;
		text-decoration: none;
	}

.justify {
	text-align: justify;
}

#header {
	position: relative;
	background-color: #c0c0c0;
	border: 1px;
	height: auto;
}

#main {
	position: relative;
	text-align: center;
	width: 100%;
	/*overflow: scroll;*/
}

.tbar {
	background-color: #c0c0c0;
	color: #505050;
	text-decoration: none;
	font-family: geneva, arial, verdana;
	font-size: 8pt;
}

	.tbar a {
		color: #505050;
		text-decoration: none;
		font-family: geneva, arial, verdana;
		font-size: 8pt;
	}

		.tbar a:hover {
			text-decoration: underline;
		}

.contenttable {
	border-collapse: collapse;
	width: 600px;
	background-color: #f0f0f0;
}

	.contenttable th {
		border: 1px solid black;
		background-color: #0000a0;
		color: rgb(255,255,255);
		text-align: center;
		white-space: nowrap;
		padding: 2px;
	}

	.contenttable td {
		border: 1px solid black;
		color: #000000;
		text-align: left;
		white-space: nowrap;
		font-family: arial, verdana, helvetica;
		font-size: 12px;
		font-style: normal;
		padding: 2px;
	}

.contentform {
	border-collapse: collapse;
	width: 550px;
	background-color: #f0f0f0;
}

	.contentform th {
		border: 0px solid black;
		background-color: #0000a0;
		color: rgb(255,255,255);
		text-align: center;
		white-space: nowrap;
		padding: 2px;
	}

	.contentform td {
		border: 0px solid black;
		color: #000000;
		text-align: left;
		white-space: nowrap;
		font-family: arial, verdana, helvetica;
		font-size: 12px;
		font-style: normal;
		padding: 2px;
	}
