# This file contains system settings for Sentinel Groupware.

SQL_TYPE           = "ODBC"
SQL_HOSTNAME       = ""
SQL_PORT           = ""
SQL_DBNAME         = ""
SQL_USERNAME       = ""
SQL_PASSWORD       = ""
SQL_ODBC_DSN       = "DRIVER={Microsoft Access Driver (*.mdb)};DBQ=C:\Program Files\Sentinel Groupware\etc\sentinel.mdb"
SENTINEL_BASE_DIR  = "C:\Program Files\Sentinel Groupware"
SENTINEL_BIN_DIR   = "C:\Program Files\Sentinel Groupware\bin"
SENTINEL_ETC_DIR   = "C:\Program Files\Sentinel Groupware\etc"
SENTINEL_FILE_DIR  = "C:\Program Files\Sentinel Groupware\files"
SENTINEL_HTTP_DIR  = "C:\Program Files\Sentinel Groupware\http"
SENTINEL_LOGLEVEL  = "1"
SENTINEL_HOSTNAME  = "localhost"
SENTINEL_PORT      = "4110"
SENTINEL_MAXCONN   = "20"
SENTINEL_MAXIDLE   = "120"
