.JUSTIFY {
	TEXT-ALIGN: justify;
}

.TBAR {
	COLOR: #505050;
	FONT-SIZE: 8pt;
	FONT-FAMILY: Geneva, Arial, Verdana;
	TEXT-DECORATION: none;
}

A {
	COLOR: #0000FF;
	TEXT-DECORATION: none;
}
A:HOVER {
	TEXT-DECORATION: underline;
}

BODY {
	COLOR: rgb(0,0,0);
	BACKGROUND-COLOR: rgb(255,255,255);
}

TABLE {
	BORDER-TOP-COLOR: #000000;
	BORDER-LEFT-COLOR: #000000;
	BORDER-BOTTOM-COLOR: #000000;
	BORDER-RIGHT-COLOR: #000000;
	COLOR: #000000;
	TABLE-BORDER-COLOR-DARK: #000000;
	TABLE-BORDER-COLOR-LIGHT: #000000;
}
TH {
	BACKGROUND-COLOR: #00A5D0;
	BORDER-TOP-COLOR: #000000;
	BORDER-LEFT-COLOR: #000000;
	BORDER-BOTTOM-COLOR: #000000;
	BORDER-RIGHT-COLOR: #000000;
	COLOR: #000000;
	FONT-FAMILY: Arial, Helvetica;
	FONT-SIZE: 12px;
	FONT-STYLE: normal;
}
TD {
	BORDER-TOP-COLOR: #000000;
	BORDER-LEFT-COLOR: #000000;
	BORDER-BOTTOM-COLOR: #000000;
	BORDER-RIGHT-COLOR: #000000;
	COLOR: #000000;
	FONT-FAMILY: Arial, Helvetica;
	FONT-SIZE: 12px;
	FONT-STYLE: normal;
}
